@model E_Commerce.View_Model.ProductFormVM
@{
    Layout = "_Dashboard";
}

<div class="card p-4 w-75 mx-auto">
    <h3>@(Model.Id == 0 ? "Add Product" : "Edit Product")</h3>

    <form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Category</label>
            <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select"></select>
        </div>

        <div class="mb-3">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger" ></span>
        </div>

        <div class="mb-3">
            <label>Stock</label>
            <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger" ></span>
        </div>

        <div class="mb-3">
           
            <div class="row align-items-center">
                
                <!-- LEFT: Input -->
                <div class="col-md-6">
                    <label class="form-label">Product Image</label>
                <!-- LEFT: File input + small preview -->
               
                    <input asp-for="ImageFile" type="file" class="form-control mb-2" id="imageInput" />

                   
                </div>

                <!-- RIGHT: Large preview box -->
                    <div class="col-md-6 text-center">
                    <img id="preview"
                         src="~/images/@(Model.ImagePath ?? "no-image.png")"
                         style="width:150px; height:150px; object-fit:contain; border:1px solid #ccc;" />
               
                </div>
            </div>
        </div>
        <div class="mb-3 mt-4">
            <label class="form-label">Product Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="ms-lg-3">
            <button class="btn btn-success">Save</button>
        </div>
    </form>
    @section Scripts {
        <script src="~/js/product.js"></script>
    }
</div>