<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Dashboard</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>
            html, body {
                height: auto;
                margin: 0;
            }

            /* Wrapper */
            #wrapper {
                display: flex;
                min-height: calc(90vh - 56px);
            }

            /* Sidebar */
            #sidebar {
                width: 250px;
                min-height: 90vh;
                background: #f8f9fa;
                transition: margin-left 0.4s ease;
                flex-shrink: 0;
            }

            /* Hide sidebar */
            #wrapper.toggled #sidebar {
                margin-left: -250px;
            }

            /* Page content */
            #page-content {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }

            footer {
                font-size: 14px;
                height :10%;
            }
    </style>
</head>

<body>

    <!-- Top Navbar -->
    <nav class="navbar navbar-dark bg-dark px-3">
        <div class="container-fluid d-flex justify-content-between">

            <!-- Left -->
            <div class="d-flex align-items-center gap-3">
                <a class="navbar-brand mb-0 text-white">Shopping Cart</a>

                <button class="btn text-white p-0" id="SidebarToggle">
                    <i class="fas fa-bars fs-4"></i>
                </button>
            </div>

            <!-- Right -->
            <div class="dropdown">
                <i class="fas fa-user text-white fs-5 dropdown-toggle"
                   data-bs-toggle="dropdown"></i>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar" class="border ps-3 pt-3">

            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-home me-2"></i> Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-user me-2"></i> Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-users me-2"></i> Staff</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-user-circle me-2"></i> Customer</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-list me-2"></i> Category</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-box me-2"></i> Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-shopping-cart me-2"></i> Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="#"><i class="fa fa-file-alt me-2"></i> Orders</a>
                </li>

            </ul>

        </div>

        <!-- Page Content -->
        <div id="page-content">

            <!-- Dynamic Content -->
            <div class="flex-grow-1 p-4">
                @RenderBody()
            </div>

            <!-- Footer -->
            <footer class="bg-dark text-white text-center py-2 h-10">
                <small>
                    © <span id="year"></span> Shopping Cart | Developed by Shashant
                </small>
            </footer>

        </div>

    </div>

    <script src="~/js/site.js"> </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
   

</body>
</html>